files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;
  
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_nginx_reload.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      systemctl reload nginx || service nginx reload || true